
DATABASE_URL= 

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT= "https://ik.imagekit.io/your_id"


SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
EMAIL_FROM="KOLLECTS.TECH <your-email@gmail.com>"

# JWT Secret (Must be at least 32 characters long)
JWT_SECRET=
