# Database configuration
# Local Docker Postgres URL is: postgresql://postgres:postgres@localhost:5432/dev
# NeonDB URL will look like: postgresql://[user]:[password]@ep-[name].[region].aws.neon.tech/[dbname]?sslmode=require
DATABASE_URL= 

# ImageKit Configuration (Fill these in for production/staging)
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
